<a href="https://colab.research.google.com/github/luizfernandodag/DataScience/blob/master/Fase2R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.tenor.com/images/51e469036910eb2ece677863200af5a8/tenor.gif)


Crie um algoritmo em R que peça uma nota, entre 0 e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [ ]:
nota = -1
while(nota <0 || nota >100)
{
nota = as.double(readline("Write a grade between 0 and 100"))
}

print(nota)

Write a grade between 0 and 100-3
Write a grade between 0 and 1009000
Write a grade between 0 and 1003
[1] 3

Crie um algoritmo em R que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [ ]:
name = readline("Write your name: ")
password = name

while(password == name)
{
  password = readline("Type a password different from your name: ")
}

print(name)
print(password)

Write your name: luiz
Type a password different from your name: luiz
Type a password different from your name: password
[1] "luiz"
[1] "password"

Crie um algoritmo em R que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [ ]:
readName = function()
{
  name = ""
  while(nchar(name) <=3)
  {
    name = readline("Name: ")
  }
  return (name)
}

readAge <- function()
{
  age = -1
  while(age < 0 || age > 150 )
  {
    age = as.integer(readline("Age: "))
  }

  return (age)

}

readSalary <- function()
{
  salary = -1
  while(salary < 0)
  {
    salary = as.double(readline("Salary: "))
  }
  return (salary)
}

readSex <- function()
{
  sex = ''
  while(sex != 'f' && sex != 'm')
  {
    sex = readline("Sex: ")

  }
  return (sex)
}

readCivilState <- function()
{
  #Estado Civil: 's', 'c', 'v', 'd';
  civilState = ''
  while(civilState != 's' && civilState != 'c' && civilState != 'v' && civilState != 'd')
  {
    civilState = readline("Civil State: ")
  }
  return (civilState)
}

#Nome: maior que 3 caracteres;
#Idade: entre 0 e 150;
#Salário: maior que zero;
#Sexo: 'f' ou 'm';
#Estado Civil: 's', 'c', 'v', 'd';

name = readName()
age = readAge()
salary = readSalary()
sex = readSex()
civilState = readCivilState()

print(name)
print(age)
print(salary)
print(sex)
print(civilState)

Name: luiz
Age: 29
Salary: 1000000
Sex: m
Civil State: s
[1] "luiz"
[1] 29
[1] 1e+06
[1] "m"
[1] "s"

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em R que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [ ]:
populationA = 80000
populationB = 200000
rateA = 3/100+1
rateB = 1.5/100 + 1


nMin = (log(populationB) - log(populationA))/(log(rateA) - log(rateB))
nMin

[1] 62.45936

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [ ]:
num = as.integer(readline("Qual numero vc deseja ver a tabuada: "))
for(i in 1:10)
{
  result = paste(toString(num),"X",toString(i)," = ", toString(num*i),sep=" ")
  print(result)
}

Qual numero vc deseja ver a tabuada: 5
[1] "5 X 1  =  5"
[1] "5 X 2  =  10"
[1] "5 X 3  =  15"
[1] "5 X 4  =  20"
[1] "5 X 5  =  25"
[1] "5 X 6  =  30"
[1] "5 X 7  =  35"
[1] "5 X 8  =  40"
[1] "5 X 9  =  45"
[1] "5 X 10  =  50"

Crie um algoritmo em R que leia três números e mostre o maior e o menor deles.

In [ ]:
txt = readline("Digite 3 numeros: ")
numeros <- as.double(unlist(strsplit(txt, split = " ")))
#numeros <- as.double(unlist(strsplit(txt, split = " ")))
bigger = numeros[1] #-1*.Machine$integer.max
smaller = numeros[1] #.Machine$integer.max
for(i in 2:3)
{
  if(numeros[i]>bigger)
  {
    bigger = numeros[i]
  }
  else if ( numeros[i] < smaller)
  {
    smaller = numeros[i]
  }

}

paste("Bigger: ", bigger)
paste("Smallest: ", smaller)

Digite 3 numeros: 1 3 5

[1] "Bigger:  5"

[1] "Smallest:  1"

Crie um algoritmo em R que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [ ]:
base = as.double(readline("Base: "))
exp = as.double(readline("Exp: "))

result = base**exp
paste("Result: ", result)

Base: 2
Exp: 3

[1] "Result:  8"

Crie um algoritmo em R que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [ ]:

numeros = 0
while(length(numeros)!=10)
{
numero = readline("10 numbers")
numeros = as.double(unlist(strsplit(numero, " ")))
}
numeros = as.integer(runif(10, min = 0, max = 25))     

numEven = 0
numOdd = 0
for(i in 1:10)
{
  if(numeros[i]%%2 == 0)
  numEven = numEven + 1
  else
  numOdd = numOdd + 1 
  

}
print(numeros)
paste("#Even numbers:  ", numEven)
paste("#Odd numbers: ", numOdd)

10 numbers1 2 3 4 5 6 7 8 9 10
 [1] 13  7  6 19  5  1  0 22  1 12

[1] "#Even numbers:   4"

[1] "#Odd numbers:  6"

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em R que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário

In [ ]:
salarioInicial = as.double(readline("Salario: "))
rase1996 = 1.5/100
#get system date
date = Sys.time()
#adjust format
date = as.Date(date, "%Y-%m-%d")

#extract year
year = as.integer(format(date, "%Y"))

salarioFinal = salarioInicial *(1+ rase1996)
rase = rase1996
for( i in 1997:year)
{
  
  rase = rase*2
  salarioFinal = salarioFinal*(1+rase)
  result = paste(toString(i),": ", toString(salarioFinal),sep=" ")
  print(result)
  
  
}
  result = paste(toString(i),": ", toString(salarioFinal),sep=" ")
  print(result)

Salario: 1000
[1] "1997 :  1045.45"
[1] "1998 :  1108.177"
[1] "1999 :  1241.15824"
[1] "2000 :  1539.0362176"
[1] "2001 :  2277.773602048"
[1] "2002 :  4464.43626001408"
[1] "2003 :  13036.1538792411"
[1] "2004 :  63094.984775527"
[1] "2005 :  547664.467851574"
[1] "2006 :  8959790.69405175"
[1] "2007 :  284204560.815322"
[1] "2008 :  17745732777.3087"
[1] "2009 :  2198341376453"
[1] "2010 :  542462718053542"
[1] "2011 :  267173737895730528"
[1] "2012 :  2.62909645038915e+20"
[1] "2013 :  5.17164304563148e+23"
[1] "2014 :  2.03408995613559e+27"
[1] "2015 :  1.59987684137924e+31"
[1] "2016 :  2.51654867592325e+35"
[1] "2017 :  7.9166292880823e+39"
[1] "2018 :  4.98079164972099e+44"
[1] "2019 :  6.2673361097939e+49"
[1] "2020 :  1.57723304221529e+55"
[1] "2020 :  1.57723304221529e+55"

Crie um algoritmo em R com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [ ]:
verifySign = function(n)
{
  if(n<0)
  {
    return ('N')
  }
  else
  {
    return ('P')
  }

}

num = as.double(readline("Number: "))
sign = verifySign(num)
paste("Sign: ", sign)

Number: -8

[1] "Sign:  N"

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [ ]:


IsDate <- function(mydate, date.format = "%d/%m/%Y") {
  tryCatch(!is.na(as.Date(mydate, date.format)),  
           error = function(err) {FALSE})  
}
date = 0

while(!IsDate(date))
{
  date = readline("Date: ")
}

print(date)
date = as.Date(date, "%d/%m/%Y")

#extract day month and year
d = as.integer(format(date, "%d"))
m = as.integer(format(date, "%m"))
y = as.integer(format(date, "%Y"))

#construct the final string
result = paste(toString(d),"de", month.name[m], "de", toString(y))
print(result)

Date: 1/1/2020
[1] "1/1/2020"
[1] "1 de January de 2020"