<a href="https://colab.research.google.com/github/luizfernandodag/DataScience/blob/master/Fase1R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.giphy.com/media/d3mlE7uhX8KFgEmY/200.gif)

Crie um algoritmo em R que mostre a mensagem "Alo mundo" na tela.

In [ ]:
print("Alo mundo")

[1] "Alo mundo"

Crie um algoritmo em R que peça dois números e imprima a soma.

In [ ]:
num1 = as.integer(readline("Digite o primeiro numero: "))
num2 = as.integer(readline("Digite o segundo numero: "))
print(num1+num2)

Digite o primeiro numero: 2
Digite o segundo numero: 4
[1] 6

Crie um algoritmo em R que peça um número e então mostre a mensagem O número informado foi [número].

In [ ]:
num = as.integer(readline("Digite um numero: "))
paste("O numero digitado foi: ",  num)

Digite um numero: 3

[1] "O numero digitado foi:  3"

Crie um algoritmo em R que converta metros para centímetros.

In [ ]:
metterToCentimeter <- function(m){
  return (100*m)
}

metters = as.double(readline("Digite a quantidade de metros: "))

paste("Quantity of centimeters: ", metterToCentimeter(metters))

Digite a quantidade de metros: 234

[1] "Quantity of centimeters:  23400"

Crie um algoritmo em Python que peça as 4 notas bimestrais e mostre a média.

In [ ]:
#notas = list(map(float, input(f"Digite 4 notas: ").split()))
#print(mean(notas))
txt = readline("Digite 4 numeros: ")
numeros <- as.double(unlist(strsplit(txt, split = " ")))
lista = c(numeros)
print(mean(lista))

Digite 4 numeros: 1 2 3 4
[1] 2.5

In [ ]:
library(dplyr)
txt = readline("Digite 4 numeros: ")
txt %>% strsplit(" ") %>% unlist() %>% as.double() %>% c() %>% mean()

Digite 4 numeros: 1 2 3 4

[1] 2.5

Crie um algoritmo em R que peça o raio de um círculo, calcule e mostre sua área.

In [ ]:
r = as.double(readline("Digite o raio do circulo: "))
area = pi*r**2
paste("Area: ", area)

Digite o raio do circulo: 2

[1] "Area:  12.5663706143592"

Crie um algoritmo em R que calcule a área de um quadrado, em seguida mostre o dobro desta área para o usuário.

In [ ]:
side = as.double(readline("Digite o lado do quadrado"))
area = side**2
paste("Dobro da area: ", 2*area)

Digite o lado do quadrado2

[1] "Dobro da area:  8"

Crie um algoritmo em R que pergunte quanto você ganha por hora e o número de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês.

In [ ]:
hourRate = as.double(readline("Write how much you get per hour: "))
numHourMonth = as.double(readline("How much hours did you work per month? "))

paste("Salary: ", hourRate*numHourMonth)

Write how much you get per hour: 80.45
How much hours did you work per month? 400

[1] "Salary:  32180"

Crie um algoritmo em R que peça a temperatura em graus Farenheit, transforme e mostre a temperatura em graus Celsius.
C = (5 * (F-32) / 9).

In [ ]:
farhrenheitToCelsius <- function(f)
{
  return(5*(f-32)/9)
}

f = as.double(readline("Write the temperature in farenheit: "))
paste("Celsious: ", farhrenheitToCelsius(f))

Write the temperature in farenheit: 70

[1] "Celsious:  21.1111111111111"

Crie um algoritmo em R que peça a temperatura em graus Celsius, transforme e mostre em graus Farenheit.

In [ ]:
celsiusToFarhrenheit = function(c)
{
  return (9*c/5 +32)
}

c = as.double(readline("Write the temperature in celsius: "))

paste("Farenheit: ", celsiusToFarhrenheit(c))

Write the temperature in celsius: 20

[1] "Farenheit:  68"

Crie um algoritmo em R que peça 2 números inteiros e um número real. Calcule e mostre:
* a soma do dobro do primeiro com metade do segundo .
* a soma do triplo do primeiro com o terceiro.
* o terceiro elevado ao cubo.

In [ ]:
int1 = as.integer(readline("Type a integer: "))
int2 = as.integer(readline("Type another integer: "))
real = as.double(readline("Type a real number: "))

print(2*int1+ int2/2)
print(3*int1 + real)
print(real**3)

Type a integer: 2
Type another integer: 4
Type a real number: 3.5
[1] 6
[1] 9.5
[1] 42.875

In [ ]:
""